
input
{
    font-size: 25px;
    border-radius: 10px;
    padding: 9px 35px;
    
} 
/* input:focus{
  outline: none;
} */
.btn{
  
    font-size: 17px;
    padding: 14px 43px;
    color: white;
    border-radius: 8px;
    margin: 15px;
    border: none;
}

